.app {
  display: flex;
  background-color: var(--gray-0);
  inline-size: auto;
  block-size: 100%;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
}

[data-library-location="left"] {
  flex-direction: row-reverse;
}

[data-library-location="right"] {
  flex-direction: row;
}

.app > * {
  padding: 1rem;
}

.main {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30ch;
  display: grid;
  align-items: center;
  padding: 3rem;
  text-align: center;;
}

.library {
  background-color: var(--gray-2);
  min-inline-size: 20rem;
}

.controls {
  position: absolute;
  inset-block-end: 1rem;
  inline-size: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls form {
  padding: 0.8rem;
  border-radius: 0.5rem;
  max-inline-size: 80ch;
  background-color: var(--gray-7);
  flex-direction: column;
  gap: 0.5rem;
  accent-color: var(--gray-1);
  color: var(--gray-1);
}

label {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-shrink: 0;
}

.radio-elements {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}